* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

ul {
  float: right;
  list-style: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent #000;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: white;
  color: black;
}

ul li.active a {
  background-color: white;
  color: black;
}

.logo h1 {
  color: white;
  float: left;
  width: 150px;
  height: auto;
  margin-top: 10px;
  padding: 1%;
}

.main {
  max-width: 1200px;
  margin: auto;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.title h1{
  color: white;
  font-size: 70px;
}

.title h4{
  color: #FFF;
  margin-left:60px;
  margin-bottom: 10px;
}


.button{
  margin-top: 20px;
  margin-left: 40px;
 }

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover{
  background-color: white;
  color: black;
}